<form action="/adminpanel/addcategory" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Name</label> <input class="input" type="text" placeholder="Enter Category Name" name="name">
      </div>
    </div>
  </div>
  <button class="button is-link">Add Category</button>
</form>
