<form action="/dashboard/addpoi" method="POST">
  <div class="field">
    <label class="label">POI Name</label> <input class="input" type="text" placeholder="Enter POI Name" name="name">
  </div>
  <button class="button is-link">Add POI</button>
</form>
