{{#each groupedPois}}
<h2 class="title is-3">
  {{_id.name}}s
</h2>
<hr>
  {{#each pois}}
  <a href="/poi/{{this._id}}" class="box box-link-hover-shadow">
    <h2 class="title is-4">
      {{this.name}}
    </h2>
  </a>
  {{/each}}

{{/each}}